
/* Computer */
@media only screen and (min-width: 800px) {

    *{
        list-style: none;
        text-decoration: none;
    }

    body {
        font-family: sans-serif;
        background: #282D3C;
        color: white;
        margin: 0;
        padding: 0;
        height: 100%;
    }

    #container{
        min-height: 100%;
    }

    .icon{
        display: none;
    }

    #welkoms-bericht{
        text-align: center;
        color: white;
    }

    body h2, h3{
        color: white;
        margin-left: 40px;
    }

    button {
        background-color: #282D3C;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        border: 3px solid #282D3C;
        border-radius: 15px;
        font-weight: 400;
        text-transform: uppercase;
    }

    .btn1{
        background-color: #282D3C;
        color: white;
        border: 3px solid #282D3C;
    }

    .btn1:hover {
        background-color: white;
        color: #282D3C;
        border: 3px solid #282D3C;
    }

    .btn2:hover {
        background-color: #282D3C;
        color: white;
        border: 3px solid white;
    }

    .btn2{
        background-color: white;
        color: #282D3C;
        border: 3px solid white;
        height: 50px;
    }

    .errormsg{
        color: red;
    }

    #error-else{
        text-align: center;
    }


    .xdsoft_datetimepicker.xdsoft_noselect.xdsoft_{
        border-radius: 25px;
        margin-top: 20px;
        margin-right: 200px;
        padding: 10px;
        box-shadow: 0px 0px 10px black;
    }

    .xdsoft_datetimepicker.xdsoft_noselect.xdsoft_today{
        background-color: #282D3C;
    }

    .navbar {
        overflow: hidden;
        background-color: #36486b;
        border-radius: 25px;
        margin-top: 1%;
    }

    .navbar a {
        float: left;
        font-size: 16px;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    .dropdown-nav {
        float: right;
        overflow: hidden;
    }
    /*.dropdown-nav-bars {*/
    /*    display: none;*/
    /*}*/

    .dropdown-nav .dropbtn {
        font-size: 16px;
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
    }
    .dropdown-nav-bars .dropbtn-bars {
        display: none;
    }

    .navbar a:hover, .dropdown-nav:hover .dropbtn {
        background-color: #4a6290;
        color: white;
        border-radius: 25px;
    }

    .dropbtn:hover {
        border-radius: 25px;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #4a6290;
        min-width: 160px;
        z-index: 1;
        border-radius: 10px;
        right: 0;
        margin: 0px 8px;
    }

    .dropdown-content a {
        float: none;
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

    .dropdown-content a:hover {
        background-color: #36486b;
        color: white;
        border-radius: 10px;
    }

    .dropdown-nav:hover .dropdown-content {
        display: block;
    }

    .imgnav {
        padding-top: 3px;
        width: 40px;
        height: 40px;
        position: absolute;
        left: calc((100%) / 2);
    }

    #imglink{
        cursor: pointer;
    }


    /*footer*/



    .footer{
        position: relative;
        background-color: rgba(94, 105, 201, 0.21);
        height: 180px;
        margin-top: 4%;
        clear: both;
        padding: 20px 0;
    }

    .inner_footer{
        display: block;
        margin: 0 auto;
        width: 1100px;
        height: 100%;
    }

    .inner_footer .logo_container{
        width: 30%;
        float: left;
        height: 100%;
        display: block;
    }

    .inner_footer .logo_container img{
        width: 200px;
        height: auto;
    }

    .inner_footer .footer_third{
        width: calc(20% - 47px);
        margin-right: 25px;
        float: left;
        height: 100%;
    }

    .inner_footer .footer_third:last-child{
        margin-right: 0;
    }

    .inner_footer .footer_third h1{
        font-family: 'Arial';
        font-size: 22px;
        color: white;
        display: block;
        width: 100%;
        margin-bottom: 20px;
    }

    .inner_footer .footer_third a{
        font-family: 'Arial';
        font-size: 18px;
        color: white;
        display: block;
        font-weight: 200;
        width: 100%;
        padding-bottom: 5px;
    }

    .inner_footer .footer_third li{
        display: inline-block;
        padding: 0 5px;
        font-size: 20px;
    }
    .inner_footer .footer_third span{
        color: white;
        font-family: 'arial';
        font-size: 16px;
        font-weight: 200;
        display: block;
        width: 100%;
        /*padding-top: 20px;*/
    }


}


/* Phone */
@media only screen and (max-width: 800px) {

    *{
        list-style: none;
        text-decoration: none;
    }

    body {
        font-family: sans-serif;
        background: #282D3C;
        color: white;
        margin: 0;
        padding: 0;
    }

    #welkoms-bericht{
        text-align: center;
        color: white;
    }

    #filter-bar{

    }

    body h2, h3{
        color: white;
        margin-left: 40px;
    }

    button {
        background-color: #282D3C;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        border: 3px solid #282D3C;
        border-radius: 15px;
        font-weight: 400;
        text-transform: uppercase;
    }

    .btn1{
        background-color: #282D3C;
        color: white;
        border: 3px solid #282D3C;
    }

    .btn1:hover {
        background-color: white;
        color: #282D3C;
        border: 3px solid #282D3C;
    }

    .btn2:hover {
        background-color: #282D3C;
        color: white;
        border: 3px solid white;
    }

    .btn2{
        background-color: white;
        color: #282D3C;
        border: 3px solid white;
        height: 50px;
    }

    .errormsg{
        color: red;
    }

    #error-else{
        text-align: center;
    }


    .xdsoft_datetimepicker.xdsoft_noselect.xdsoft_{
        border-radius: 25px;
        margin-top: 20px;
        /*margin-right: 200px;*/
        padding: 10px;
        box-shadow: 0px 0px 10px black;
    }

    .xdsoft_datetimepicker.xdsoft_noselect.xdsoft_today{
        background-color: #282D3C;
    }


    /* navigatie */

    .navbar {
        overflow: hidden;
        background-color: #36486b;
        border-radius: 25px;
        margin-top: 1%;
    }

    i #usericon{
        color: white;
        display: block;
        position: absolute;
    }

    i #usericon-bars{
        color: white;
        display: block;
        position: absolute;
    }

    .navbar a {
        /*float: top;*/
        position: relative;
        display: inline-block;
        font-size: 16px;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }


    .dropdown-nav {
        float: right;
        overflow: hidden;
    }
    .dropdown-nav-bars {
        float: left;
        overflow: hidden;
    }


    .dropdown-nav .dropbtn {
        font-size: 16px;
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
    }
    .dropdown-nav-bars .dropbtn-bars {
        font-size: 16px;
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
    }


    .navbar a:hover, .dropdown-nav:hover .dropbtn {
        background-color: #4a6290;
        color: white;
        border-radius: 25px;
    }
    .navbar a:hover, .dropdown-nav-bars:hover .dropbtn-bars {
        background-color: #4a6290;
        color: white;
        border-radius: 25px;
    }


    .dropbtn:hover {
        border-radius: 25px;
    }
    .dropbtn-bars:hover {
        border-radius: 25px;
    }


    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #4a6290;
        min-width: 160px;
        z-index: 1;
        border-radius: 10px;
        right: 0;
        margin: 0px 8px;
    }
    .dropdown-content-bars {
        display: none;
        position: absolute;
        background-color: #4a6290;
        min-width: 160px;
        z-index: 1;
        border-radius: 10px;
        /*right: 0;*/
        /*margin: 0px 8px;*/
    }


    .dropdown-content a {
        float: none;
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }
    .dropdown-content-bars a {
        float: none;
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }


    .dropdown-content a:hover {
        background-color: #36486b;
        color: white;
        border-radius: 10px;
    }
    .dropdown-content-bars a:hover {
        background-color: #36486b;
        color: white;
        border-radius: 10px;
    }


    .dropdown-nav:hover .dropdown-content {
        display: block;
    }
    .dropdown-nav-bars:hover .dropdown-content-bars {
        display: block;
    }

    .imgnav {
        display: none;
    }

    #imglink{
        cursor: pointer;
    }



    /*footer*/

    .footer{
        width: 99vw;
        display: block;
        overflow: hidden;
        padding: 70px 0;
        box-sizing: border-box;
        background-color: rgba(94, 105, 201, 0.21);
        right: 0;bottom:0;left:0;
        margin-top: -100%;
        clear: both;
    }

    .inner_footer{
        display: block;
        margin: 0 auto;
        width: 1100px;
        height: 100%;
    }

    .inner_footer .logo_container{
        width: 30%;
        float: left;
        height: 100%;
        display: block;
    }

    .inner_footer .logo_container img{
        width: 200px;
        height: auto;
    }

    .inner_footer .footer_third{
        width: calc(20% - 47px);
        margin-right: 25px;
        float: left;
        height: 100%;
    }

    .inner_footer .footer_third:last-child{
        margin-right: 0;
    }

    .inner_footer .footer_third h1{
        font-family: 'Arial';
        font-size: 22px;
        color: white;
        display: block;
        width: 100%;
        margin-bottom: 20px;
    }

    .inner_footer .footer_third a{
        font-family: 'Arial';
        font-size: 18px;
        color: white;
        display: block;
        font-weight: 200;
        width: 100%;
        padding-bottom: 5px;
    }

    .inner_footer .footer_third li{
        display: inline-block;
        padding: 0 5px;
        font-size: 20px;
    }
    .inner_footer .footer_third span{
        color: white;
        font-family: 'arial';
        font-size: 16px;
        font-weight: 200;
        display: block;
        width: 100%;
        /*padding-top: 20px;*/
    }

}