{% load static %}

<head>
    <script src='https://kit.fontawesome.com/1b028243f3.js'></script>
    <link rel="stylesheet" href="{% static 'CSS/login.css' %}">
</head>


<main>
    {% if not user.is_authenticated %}
    <div class="login-box">
    {% csrf_token %}
        <h1>Login</h1>
        <p>{{ error }}</p>
        <form method="POST" content_type='application/json'>

            {{ form.as_p }}
            <p class="errormsg">{{ error }}</p>
            <button class="submit" type="submit" value=Submit">Login</button>
        </form>
    </div>
    {% else %}
    <br>
    <h1 id="welkoms-bericht">Welkom {{ user.username }} je bent al ingelogd</h1>
    {% endif %}
</main>
