{% load static %}

<head>
    <script src='https://kit.fontawesome.com/1b028243f3.js'></script>
    <link rel="stylesheet" href="{% static 'CSS/register.css' %}">
</head>


<main>
    <div class="login-box">
        <h1>Registreren</h1>
        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
            <p>
                {{ field.label_tag }}
                <br>
                {{ field }}
                {% if field.help_text %}

                {% endif %}
                {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
                {% endfor %}
            </p>
            {% endfor %}
            <br>
            <button class="submit">Registreer</button>
        </form>
    </div>
</main>
