*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*desktop*/
@media only screen and (min-width: 1000px) {
    .headMobile, .footMobile, .mobileNavlist {
        display: none;
    }

    .logo a {
        height: 12vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 4vh;
        margin-bottom: 4vh;
    }

    .logo img {
        height: 12vh;
    }

    .navlist {
        height: 6vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: chocolate;
    }

    .navlist a {
        color: whitesmoke;
        font-size: 3vh;
        font-weight: 700;
        text-decoration: none;
        width: 15vw;
        text-align: center;
    }

    .footLine {
        height: 14vh;
        width: 100%;
        background: chocolate;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .footLine img {
        height: 10vh;
    }

    .footInfo {
        height: 30vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .footInfo div {
        display: flex;
        flex-direction: column;
    }
}


/*mobile*/
@media only screen and (max-width: 1000px) {
    .headDesktop, .footDesktop {
        display: none;
    }

    .headMobile {
        position: relative;
        background-color: white;
        z-index: 10;
    }

    .logo a {
        height: 12vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 4vh;
        padding-bottom: 4vh;
        background: white;
    }

    .logo img {
        height: 12vh;
    }

    .burgerBar {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 10vh;
        width: 100%;
        background: chocolate;
    }

    .burgerBox {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        height: 100%;
        width: 15%;
        cursor: pointer;
    }

    .burg1, .burg2, .burg3 {
        height: 14px;
        width: 100%;
        background: whitesmoke;
        border-radius: 7px;
        transition: all 0.5s;
    }

    .burg1.open {
        transform: rotate(45deg);
        position: relative;
        top: 1.8vh;
        transition: all 0.5s;
    }

    .burg2.open {
        display: none;
        transition: all 0.5s;
    }

    .burg3.open {
        transform: rotate(-45deg);
        position: relative;
        top: -1.8vh;
        transition: all 0.5s;
    }

    .mobileNavlist {
        position: absolute;
        top: 0;
        height: auto;
        width: 99%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        background: white;
        border: solid black 0.5vw;
        border-top: none;
        z-index: 5;
        transition: all 0.5s ease-in-out;
    }

    .mobileNavlist.open {
        top: 30vh;
        transition: all 0.5s ease-in-out;
    }

    .mobileNavlist a {
        color: black;
        font-size: 3vh;
        font-weight: 700;
        text-decoration: none;
        width: auto;
        text-align: center;
        margin-bottom: 25px;
    }

    footer {
        position: absolute;
        bottom: auto;
        left: 0;
        width: 100%;
    }

    .footLine {
        height: 10vh;
        width: 100%;
        background: chocolate;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .footLine img {
        height: 5vh;
    }

    .footInfo {
        height: 20vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .footInfo div {
        display: flex;
        flex-direction: column;
        font-size: 1.5vh;
    }
}