*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*desktop*/
@media only screen and (min-width: 1000px) {
    .headMobile, .footMobile {
        display: none;
    }

    .logo a {
        height: 12vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 4vh;
        margin-bottom: 4vh;
    }

    .logo img {
        height: 12vh;
    }

    .navlist {
        height: 6vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: chocolate;
    }

    .navlist a {
        color: whitesmoke;
        font-size: 3vh;
        font-weight: 700;
        text-decoration: none;
        width: 15vw;
        text-align: center;
    }

    .footLine {
        height: 14vh;
        width: 100%;
        background: chocolate;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .footLine img {
        height: 10vh;
    }

    .footInfo {
        height: 40vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .footInfo div {
        display: flex;
        flex-direction: column;
    }
}


/*mobile*/
@media only screen and (max-width: 1000px) {
    .headDesktop, .footDesktop {
        display: none;
    }

    .headMobile {
        position: relative;
        background-color: white;
        z-index: 10;
    }

    .logo a {
        height: 12vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 4vh;
        padding-bottom: 4vh;
        background: white;
    }

    .logo img {
        height: 12vh;
    }

    .burgerBar {
        display: flex;
        height: 10vh;
        width: 100%;
        background: chocolate;
        align-items: center;
        justify-content: center;
    }

    .burgerBox {
        display: flex;
        background-color: black;
        height: 10vh;
        width: 10vw;
    }

    .burger {

    }

    .navlist {
        position: absolute;
        top: 0;
        height: 20vh;
        width: 99%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        background: white;
        border: solid black 0.5vw;
        border-top: none;
        z-index: -5;
        transition: all 0.5s ease-in-out;
    }

    .navlist.open {
        top: 30vh;
        transition: all 0.5s ease-in-out;
    }

    .navlist a {
        color: black;
        font-size: 3vh;
        font-weight: 700;
        text-decoration: none;
        width: 15vw;
        text-align: center;
    }

    .footLine {
        height: 14vh;
        width: 100%;
        background: chocolate;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .footLine img {
        height: 10vh;
    }

    .footInfo {
        height: 40vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .footInfo div {
        display: flex;
        flex-direction: column;
    }
}