/*desktop*/
@media only screen and (min-width: 1000px) {
    .grid {
        display: grid;
        height: auto;
        width: 90%;
        grid-template-columns: repeat(3, 1fr);
        padding: 5%;
        grid-gap: 4vh;
    }

    .dirBox {
        height: 200px;
        width: 200px;
        margin: auto;
        color: whitesmoke;
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        background: url("/static/IMG/dir-closed.png");
        background-size: 200px 200px;
    }

    .dirBox:hover {
        background: url("/static/IMG/dir-open.png");
        background-size: 200px 200px;
        background-color: rgba(128, 128, 128, 0.185);
    }

    .dirBox:hover p {
        margin-top: 45px;
        margin-left: 30px;
    }

    .div {
        height: 50vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .loginMSG {
        font-size: 4vh;
        background: red;
        padding: 5vh;
        border-radius: 20px;
        font-weight: 600;
        color: whitesmoke;
        width: 70%;
        text-align: center;
    }
}


/*mobile*/
@media only screen and (max-width: 1000px) {
    .loginMSG {
        margin-bottom: 20vh;
        font-size: 4vh;
        background: red;
        padding: 5vh;
        border-radius: 20px;
        font-weight: 600;
        color: whitesmoke;
    }
}