/*desktop*/
@media only screen and (min-width: 1000px) {
    main {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
    
    .introText {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        height: 80vh;
        width: 40vw;
    }
    
    h1 {
        font-size: 6vh;
        text-decoration: underline;
        margin-bottom: 8vh;
    }
    
    p {
        font-size: 2.5vh;
        padding: 3vh;
        color: whitesmoke;
        text-align: center;
        font-weight: 700;
        background: #00a8f3;
        border-radius: 15px;
    }
}

/*mobile*/
@media only screen and (max-width: 1000px) {
    main {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
    
    .introText {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        height: 80vh;
        width: 60vw;
    }
    
    h1 {
        font-size: 6vh;
        text-decoration: underline;
        margin-bottom: 8vh;
    }
    
    p {
        font-size: 2.5vh;
        padding: 2vh;
        color: whitesmoke;
        text-align: center;
        font-weight: 700;
        background: #00a8f3;
        border-radius: 15px;
    }
}