/*desktop*/
@media only screen and (min-width: 1000px) {
    /* Home page not logged in */
    .body {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80vh;
    }

    .introText {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        height: auto;
        width: 35vw;
        padding: 5vh;
        background: white;
        border-radius: 25px;
        box-shadow: 0px 0px 25px 4px #444444;
    }
    
    h1 {
        font-size: 6vh;
        color: #d6a345;
    }
    
    p {
        font-size: 1vw;
        padding: 0.8vw;
        text-align: center;
        font-weight: 700;
        margin-top: 4vw;
        border-bottom: solid 0.35vw #888888;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 0.8px #444444;
    }
}

/*mobile*/
@media only screen and (max-width: 1000px) {
    /* Home page not logged in */
    main {
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;
        width: 100%;
    }
    
    .introText {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        height: auto;
        width: auto;
        padding: 80px;
    }
    
    h1 {
        font-size: 6vh;
        text-decoration: underline;
    }
    
    p {
        font-size: 2.5vh;
        padding: 2vh;
        color: whitesmoke;
        text-align: center;
        font-weight: 700;
        background: #00a8f3;
        border-radius: 15px;
        width: 90%;
        margin-top: 80px;
    }
}