*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*desktop*/
@media only screen and (min-width: 1000px) {
    .headMobile, .footMobile {
        display: none;
    }

    .logo a {
        height: 12vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 4vh;
        margin-bottom: 4vh;
    }

    .logo img {
        height: 12vh;
    }

    .navlist {
        height: 6vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: chocolate;
    }

    .navlist a {
        color: whitesmoke;
        font-size: 3vh;
        font-weight: 700;
        text-decoration: none;
        width: 15vw;
        text-align: center;
    }

    .footLine {
        height: 14vh;
        width: 100%;
        background: chocolate;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .footLine img {
        height: 10vh;
    }

    .footInfo {
        height: 40vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .footInfo div {
        display: flex;
        flex-direction: column;
    }
}


/*mobile*/
@media only screen and (max-width: 1000px) {
    .headDesktop, .footDesktop {
        display: none;
    }
}