{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>H2Smart</title>
        <link rel="stylesheet" href="{% static 'CSS/default.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="icon" href="{% static 'IMG/excel.png' %}">
    </head>

    <body>
        <header>
            {% if user.is_authenticated %}
        
                <!-- desktop -->
                <div class="headDesktop">
                    <div class="logo">
                        <a href="/">
                            <img src="{% static 'IMG/Logo.jpeg' %}" alt="">
                        </a>
                    </div>
                    <div class="navlist">
                        <a href="/">Dashboard</a>
                        <a href="/logboek">Logboek</a>
                        <a href="/data-analytics">Data-Analytics</a>
                        <a href="/profiel">Profiel</a>
                        <a href="/filemanager">Filemanager</a>
                        <a href="/logout">Logout</a>
                        {% if user.is_superuser %}
                        <a href="/admin">admin</a>
                        {% endif %}
                    </div>
                </div>
        
                <!-- mobile -->
                <div class="headMobile">
                    <div class="logo">
                        <a href="/">
                            <img src="{% static 'IMG/Logo.jpeg' %}" alt="">
                        </a>
                    </div>

                    <div class="burgerBox">
                        <div class="burger"></div>
                    </div>
                    <div class="burgerBar">
                        <div onclick="burgBtn()" class="burgerBox">
                            <div id="burger1" class="burg1"></div>
                            <div id="burger2" class="burg2"></div>
                            <div id="burger3" class="burg3"></div>
                        </div>
                    </div>
                </div>
                <div id="navList" class="mobileNavlist">
                    <a href="/">Dashboard</a>
                    <a href="/profiel">Profiel</a>
                    <a href="/logboek">Logboek</a>
                    <a href="/data-analytics">Data-Analytics</a>
                    <a href="/filemanager">Filemanager</a>
                    <a href="/logout">Logout</a>
                    {% if user.is_superuser %}
                    <a href="/admin">admin</a>
                    {% endif %}
                </div>
            {% else %}
        
                <!-- desktop -->
                <div class="headDesktop">
                    <div class="logo">
                        <a href="/">
                            <img src="{% static 'IMG/Logo.jpeg' %}" alt="">
                        </a>
                    </div>
                    <div class="navlist">
                        <a href="/">Home</a>
                        <a href="/login">Login</a>
                        <a href="/register">Register</a>
                    </div>
                </div>
        
                <!-- mobile -->
                <div class="headMobile">
                    <div class="logo">
                        <a href="/">
                            <img src="{% static 'IMG/Logo.jpeg' %}" alt="">
                        </a>            
                    </div>
                    <div class="burgerBar">
                        <div onclick="burgBtn()" class="burgerBox">
                            <div id="burger1" class="burg1"></div>
                            <div id="burger2" class="burg2"></div>
                            <div id="burger3" class="burg3"></div>
                        </div>
                    </div>
                </div>
                <div id="navList" class="mobileNavlist">
                    <a href="/">Home</a>
                    <a href="/login">Login</a>
                    <a href="/register">Register</a>
                </div>
            {% endif %}
        </header>
            <div id="">
                {% include page %}
            </div>
        <footer>
            <!-- Desktop -->
            <div class="footDesktop">
                <div class="footLine">
                    <a href="https://www.accenda.nl" target="_blank">
                        <img src="{% static 'IMG/accenda.png' %}" alt="accenda">
                    </a>
                    <a href="https://www.i-emdelft.nl" target="_blank">
                        <img src="{% static 'IMG/iemdelft.png' %}" alt="delft">
                    </a>
                </div>
                <div class="footInfo">
                    <div class="footBlock-1">
                        <div>&copy; 2021</div>
                        <div>H2Smart</div>
                    </div>
                    <div class="footBlock-2">
                        <div>Creators:</div>
                        <div>Nigel de Werk</div>
                        <div>Sebastiaan de Vries</div>
                    </div>
                    <div class="footBlock-3">
                        <div>System:</div>
                        <div>RaspbianLight-OS</div>
                    </div>
                    <div class="footBlock-4">
                        <div>Help:</div>
                        <div>info@accenda.nl</div>
                    </div>
                </div>
            </div>
        
            <!-- Mobile -->
            <div class="footMobile">
                <div class="footLine">
                    <img src="{% static 'IMG/accenda.png' %}" alt="accenda">
                    <img src="{% static 'IMG/iemdelft.png' %}" alt="delft">
                </div>
                <div class="footInfo">
                    <div class="footBlock-1">
                        <div>&copy; 2021</div>
                        <div>H2Smart</div>
                    </div>
                    <div class="footBlock-2">
                        <div>Creators:</div>
                        <div>Nigel de Werk</div>
                        <div>Sebastiaan de Vries</div>
                    </div>
                    <div class="footBlock-3">
                        <div>System:</div>
                        <div>RaspbianLight-OS</div>
                    </div>
                    <div class="footBlock-4">
                        <div>Help:</div>
                        <div>info@accenda.nl</div>
                    </div>
                </div>
            </div>
        </footer>
        <script src="{% static 'JS/default.js' %}"></script>
    </body>
</html>

<script>

    function recursiveAnimateTitle(string) {
        let firstLetter = string[0];
        let title = document.querySelector('title');
        title.innerHTML += firstLetter;
        if (string.length > 1) {
            setTimeout(function() {
            recursiveAnimateTitle(string.substring(1));
            }, 200);
        }
    }

    function animateTitle(string) {
        document.querySelector('title').innerHTML = "";
        recursiveAnimateTitle(string);
    }

    {#while (true){#}
    {#    animateTitle('H2-SMART-SYSTEM - ©2021');#}

    {# } #}

    animateTitle('H2-SMART-SYSTEM - ©2021');


    {#var i = 1;#}

    {#function myLoop() {#}
    {#    setTimeout(function() {#}
    {#        console.log('hello');#}
    {#        i++;#}
    {#        if (i < 10) {#}
    {#            myLoop();#}
    {#        }#}
    {#    }, 3000)#}
    {# } #}

    {#myLoop();#}

</script>


