{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>H2Heating</title>
    <link rel="stylesheet" href="{% static 'style/default.css' %}">
</head>
<header>
    <div class="desktop">
        <div class="logo"></div>
        <div class="navlist-box">
            <div class="navlist">
                <a href="/">Home</a>
                <a href="/login">Login</a>
                <a href="/register">Register</a>
                <a href="/logout">Logout</a>
                <a href="/admin">admin</a>
            </div>
        </div>
    </div>
</header>
<body>
    <div id="">
        {% include page %}
    </div>
</body>
<footer>
    <div class="line">
        <img src="" alt="accenda">
        <img src="" alt="i-em delft">
    </div>
    <div class="footBlock-1">
        copyright
    </div>
    <div class="footBlock-2">
        system info
    </div>
    <div class="footBlock-3">
        Help
    </div>
</footer>
</html>

