{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>H2Smart</title>
        <link rel="stylesheet" href="{% static 'CSS/default.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>
        <header>
            {% if user.is_authenticated %}
        
                <!-- desktop -->
                <div class="headDesktop">
                    <div class="logo">
                        <a href="/">
                            <img src="{% static 'IMG/Logo.jpeg' %}" alt="">
                        </a>
                    </div>
                    <div class="navlist">
                        <a{% if request.get_full_path == '/' %} class="current" {% endif %} href="/"><div class="point"><div class="dot"></div></div><div class="tagName">Dashboard</div></a>
                        <a{% if request.get_full_path == '/profiel' %} class="current" {% endif %} href="/profiel"><div class="point"><div class="dot"></div></div><div class="tagName">Profiel</div></a>
                        <a{% if request.get_full_path == '/filemanager' %} class="current" {% endif %} href="/filemanager"><div class="point"><div class="dot"></div></div><div class="tagName">Filemanager</div></a>
                        <a{% if request.get_full_path == '/logout' %} class="current" {% endif %} href="/logout"><div class="point"><div class="dot"></div></div><div class="tagName">Logout</div></a>
                        {% if user.is_superuser %}
                        <a href="/admin">admin</a>
                        {% endif %}
                    </div>
                </div>
        
                <!-- mobile -->
                <div class="headMobile">
                    <div class="logo">
                        <a href="/">
                            <img src="{% static 'IMG/Logo.jpeg' %}" alt="">
                        </a>
                    </div>

                    <div class="burgerBox">
                        <div class="burger"></div>
                    </div>
                    <div class="burgerBar">
                        <div onclick="burgBtn()" class="burgerBox">
                            <div id="burger1" class="burg1"></div>
                            <div id="burger2" class="burg2"></div>
                            <div id="burger3" class="burg3"></div>
                        </div>
                    </div>
                </div>
                <div id="navList" class="mobileNavlist">
                    <a href="/">Dashboard</a>
                    <a href="/profiel">Profiel</a>
                    <a href="/logboek">Logboek</a>
                    <a href="/data-analytics">Data-Analytics</a>
                    <a href="/filemanager">Filemanager</a>
                    <a href="/logout">Logout</a>
                    {% if user.is_superuser %}
                    <a href="/admin">admin</a>
                    {% endif %}
                </div>
            {% else %}
        
                <!-- desktop -->
                <div class="headDesktop">
                    <div class="logo">
                        <a href="/">
                            <img src="{% static 'IMG/Logo.jpeg' %}" alt="">
                        </a>
                    </div>
                    <div class="navlist">
                        <a{% if request.get_full_path == '/' %} class="current" {% endif %} href="/"><div class="point"><div class="dot"></div></div><div class="tagName">Home</div></a>
                        <a{% if request.get_full_path == '/login' %} class="current" {% endif %} href="/login"><div class="point"><div class="dot"></div></div><div class="tagName">login</div></a>
                        <a{% if request.get_full_path == '/register' %} class="current" {% endif %} href="/register"><div class="point"><div class="dot"></div></div><div class="tagName">Register</div></a>
                    </div>
                </div>
        
                <!-- mobile -->
                <div class="headMobile">
                    <div class="logo">
                        <a href="/">
                            <img src="{% static 'IMG/Logo.jpeg' %}" alt="">
                        </a>            
                    </div>
                    <div class="burgerBar">
                        <div onclick="burgBtn()" class="burgerBox">
                            <div id="burger1" class="burg1"></div>
                            <div id="burger2" class="burg2"></div>
                            <div id="burger3" class="burg3"></div>
                        </div>
                    </div>
                </div>
                <div id="navList" class="mobileNavlist">
                    <a href="/">Home</a>
                    <a href="/login">Login</a>
                    <a href="/register">Register</a>
                </div>
            {% endif %}
        </header>
        {% include page %}
        <script src="{% static 'JS/default.js' %}"></script>
    </body>
</html>

