{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>H2Smart</title>
        <link rel="stylesheet" href="{% static 'CSS/filemanager.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>
        <header>
            <!-- desktop -->
            <div class="headDesktop">
                <div class="logo">
                    <a href="/">
                        <img src="{% static 'IMG/Logo.jpeg' %}" alt="">
                    </a>
                </div>
                <p class="title">File-Manager</p>
            </div>
            <div class="line"></div>
    
            <!-- mobile -->
            <div class="headMobile">
                <div class="logo">
                    <a href="/">
                        <img src="{% static 'IMG/Logo.jpeg' %}" alt="">
                    </a>
                </div>
                <p class="title">File-Manager</p>
            </div>
            <div class="line"></div>
        </header>
            <div id="">
                {% include page %}
            </div>
        <footer>
            <!-- Desktop -->
            <div class="footDesktop">
                <div class="footLine">
                    <a href="https://www.accenda.nl" target="_blank">
                        <img src="{% static 'IMG/accenda.png' %}" alt="accenda">
                    </a>
                    <a href="https://www.i-emdelft.nl" target="_blank">
                        <img src="{% static 'IMG/iemdelft.png' %}" alt="delft">
                    </a>
                </div>
                <div class="footInfo">
                    <div class="footBlock-1">
                        <div>&copy; 2021</div>
                        <div>H2Smart</div>
                    </div>
                    <div class="footBlock-2">
                        <div>Creators:</div>
                        <div>Nigel de Werk</div>
                        <div>Sebastiaan de Vries</div>
                    </div>
                    <div class="footBlock-3">
                        <div>System:</div>
                        <div>RaspbianLight-OS</div>
                    </div>
                    <div class="footBlock-4">
                        <div>Help:</div>
                        <div>info@accenda.nl</div>
                    </div>
                </div>
            </div>
        
            <!-- Mobile -->
            <div class="footMobile">
                <div class="footLine">
                    <img src="{% static 'IMG/accenda.png' %}" alt="accenda">
                    <img src="{% static 'IMG/iemdelft.png' %}" alt="delft">
                </div>
                <div class="footInfo">
                    <div class="footBlock-1">
                        <div>&copy; 2021</div>
                        <div>H2Smart</div>
                    </div>
                    <div class="footBlock-2">
                        <div>Creators:</div>
                        <div>Nigel de Werk</div>
                        <div>Sebastiaan de Vries</div>
                    </div>
                    <div class="footBlock-3">
                        <div>System:</div>
                        <div>RaspbianLight-OS</div>
                    </div>
                    <div class="footBlock-4">
                        <div>Help:</div>
                        <div>info@accenda.nl</div>
                    </div>
                </div>
            </div>
        </footer>
        <script src="{% static 'JS/default.js' %}"></script>
    </body>
</html>

