{% load static %}

<head>
    <script src='https://kit.fontawesome.com/1b028243f3.js'></script>
    <link rel="stylesheet" href="{% static 'CSS/index.css' %}">
</head>

<main>
    <div class="introText">
        <h1>Welkom!</h1>
        <p>
            Dit is de homepagina van het H2Smart-System, log in om uw gegevens te zien.
        </p>
        <br>
        <p>
            Bent u op de verkeerde site, weet u niet wat u hier doet of hoe u hier gekomen bent? verlaat dan a.u.b deze site.
        </p>
        <br>
        <p>
            Bent u ingelogd en ziet u deze pagina nog? Bent u ingelogd en ziet u geen gegevens gegevens staan in uw account, 
            of is er iets anders mis met het systeem? Neem dan contact op met de systeembeheerder of installateur.
        </p>
    </div>
</main>
