{% load static %}

<head>
    <script src='https://kit.fontawesome.com/1b028243f3.js'></script>
    <link rel="stylesheet" href="{% static 'CSS/index.css' %}">
</head>

<main>
    {% if user.is_authenticated %}
    <div class="dashboard">
        <div class="title">
            <h1>Dashboard</h1>
        </div>
        {% if meting_id != None %}
        <div class="content">
            <div class="left">
                <div class="row rowA">
                    <h2>Powercel:</h2>
                    <div class="data dataA">
{#                        <div class="DA1">T1: {{ delta_status.TA1 }} °C</div>#}
{#                        <div class="DA2">T2: {{ delta_status.TA2 }} °C</div>#}
{#                        <div class="DA1-2">Delta: {{ delta_status.TA1_2 }} °C</div>#}
{#                        <div class="DA1-2">Power: {{ delta_status.TAP }} Watt</div>#}
                    </div>
                </div>
                <div class="row rowB">
                    <h2>Waterpomp:</h2>
                    <div class="data dataB">
{#                        <div class="DA1">T1: {{ delta_status.TB1 }} °C</div>#}
{#                        <div class="DA2">T2: {{ delta_status.TB2 }} °C</div>#}
{#                        <div class="DA1-2">Delta: {{ delta_status.TB1_2 }} °C</div>#}
{#                        <div class="DA1-2">Power: {{ delta_status.TBP }} Watt</div>#}
                    </div>
                </div>
                <div class="row rowC">
                    <h2>Vloerverwarming:</h2>
                    <div class="data dataC">
{#                        <div class="DA1">T1: {{ delta_status.TC1 }} °C</div>#}
{#                        <div class="DA2">T2: {{ delta_status.TC2 }} °C</div>#}
{#                        <div class="DA1-2">Delta: {{ delta_status.TC1_2 }} °C</div>#}
{#                        <div class="DA1-2">Power: {{ delta_status.TCP }} Watt</div>#}
                    </div>
                </div>
                <div class="row rowD">
                    <h2>Reserve:</h2>
                    <div class="data dataD">
{#                        <div class="DA1">T1: {{ delta_status.TD1 }} °C</div>#}
{#                        <div class="DA2">T2: {{ delta_status.TD2 }} °C</div>#}
{#                        <div class="DA1-2">Delta: {{ delta_status.TD1_2 }} °C</div>#}
{#                        <div class="DA1-2">Power: {{ delta_status.TDP }} Watt</div>#}
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="row rowE">
                    <h2>Flow Powercel:</h2>
                    <div class="data dataE">
{#                        <div class="DE">{{ delta_status.flow_1}} Liter/minuut</div>#}
                    </div>
                </div>
                <div class="row rowF">
                    <h2>Flow Waterpomp:</h2>
                    <div class="data dataF">
{#                        <div class="DF">{{ delta_status.flow_2}} Liter/minuut</div>#}
                    </div>
                </div>
                <div class="row rowG">
                    <h2>Flow Vloerverwarming</h2>
                    <div class="data dataG">
{#                        <div class="DG">{{ delta_status.flow_3}} Liter/minuut</div>#}
                    </div>
                </div>
                <div class="row rowH2">
                    <h2>Flow Waterstof:</h2>
                    <div class="data dataH2">
{#                        <div class="DH2">{{ delta_status.flow_H2}} Liter/minuut</div>#}
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="error">
            <p>Er is nog geen systeem aan dit account gekoppelt...</p>
        </div>
        {% endif %}
    </div>
    {% else %}
    <div class="body">
        <div class="introText">
            <h1>Welkom!</h1>
            <p>
                Dit is de homepagina van het H2Smart-System, log in om uw gegevens te zien.
            </p>
            <p>
                Bent u op de verkeerde site, weet u niet wat u hier doet of hoe u hier gekomen bent? verlaat dan a.u.b deze site.
            </p>
            <p>
                Bent u ingelogd en ziet u deze pagina nog? Bent u ingelogd en ziet u geen gegevens gegevens staan in uw account, 
                of is er iets anders mis met het systeem? Neem dan contact op met de systeembeheerder of installateur.
            </p>
        </div>
    </div>
    {% endif %}
</main>
