{% load static %}

<head>
    <title>Profiel</title>
    <link rel="stylesheet" href="{% static 'CSS/profiel.css' %}">
</head>


<main>
    <div class="box">
        <h1>Profiel</h1>
        <br>
        {% if user.is_authenticated %}
        <div class="profileInfo">
            <div class="nameTag">
                <div class="name">Naam:</div>
                <div class="nameInsert">{{ user.username }}</div>
            </div>
            <div class="mailTag">
                <div class="mail">E-Mail:</div>
                <div class="mailInsert">{{ user.email }}</div>
            </div>
            <div class="indexTag">
                <div class="index">Metingen:</div>
                <div class="indexInsert">{{ user.profile.delta_ids }}</div>
            </div>
        </div>
        {% else %}
        <p class="loginMSG">Om uw gegevems te zien moet u eerst <a href="/login">inloggen</a>.</p>
        {% endif %}
    </div>
</main>


