{% load static %}

<head>
    <title>Profiel</title>
    <link rel="stylesheet" href="{% static 'style/default.css' %}">
</head>


<body>
    <div class="content">
        <h1 id="welkoms-bericht"> Profiel </h1>
        <br>
        {% if user.is_authenticated %}
            <table>
                <tr>
                    <th>Naam: </th>
                    <th>{{ user.username}}</th>
                </tr>
                <tr>
                    <th>E-mail: </th>
                    <th>{{ user.email }}</th>
                </tr>
                    <tr>
                        <th>Metingen: </th>
                        <th>{{ user.profile.delta_ids }}</th>
                    </tr>
                </table>
            {% else %}
                <p id="error-else">Om uw gegevems te zien moet u eerst <a href="/login" style="color: white">inloggen</a>.</p>
        {% endif %}
    </div>
</body>


